__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

.env
*.env
.env.*

.git
.gitignore
.dockerignore
.idea
.vscode
*.log

alembic/versions/*.pyc

tests/
coverage/
htmlcov/
.pytest_cache/

*.tar
*.img
*.bak
